@media print {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;


    }

    /* Size and margin for all pages ------------- */
    @page {
        size: 170mm 240mm;
        margin-top: 12.7mm;
        margin-bottom: 20mm;
        marks: crop;
    }

    /* LEFT PAGES -------------------------------- */
    @page :left {
        margin-left: 15mm;
        margin-right: 50mm;
        @bottom-left {
            content: counter(page);
            width: 40px;
        }
        @top-center {
            content: "Hybrid Public Spaces";
            text-align: left;
        }
    }

    /* RIGHT PAGES -------------------------------- */
    @page :right {
        margin-left: 50mm;
        margin-right: 15mm;
        @bottom-right {
            content: counter(page);
            width: 40px;
        }
        @bottom-center {
            content: string(chapTitle);
            text-align: right;
        }
    }

    a {

        font-family: Pacifista;
        text-decoration: none;
        color: black;


    }

    .content-article h1 {
        break-before: left;
        font-family: Pacifista;
        break-after: page;

    }

    body {
        margin: 0;
        padding: 0;
        overscroll-behavior: none;
        line-height: 1.4;
        font-size: 16px;
        font-weight: 400;
        font-kerning: normal;
        font-family: 'Public Sans';
        -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
        -moz-font-feature-settings: "kern=1", "liga=1", "calt=1";
        -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
        font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
        -webkit-font-smoothing: antialiased !important;
        -moz-osx-font-smoothing: grayscale;
    }

    svg {
        display: none;
    }

    img {
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #main {
        list-style: none;
        padding: 0;
    }

    #main li {


        margin-bottom: 20px;

    }


    #main li a {

        text-decoration: none;
        color: black;
        font-family: Pacifista;

    }

    .pourcentage {

        display: none;
    }

    .title {

        background: none !important;
    }

    h1.title {
        font-size: 8rem !important;
        font-family: Pacifista;
        break-after: page;


    }

    sup a {
        text-decoration: none;
        color: black;
        font-family: Pacifista;
    }

    #main {

        opacity: 1;
    }

    .footnotes li {

        display: block !important;
    }

    .footnotes a {

        background-color: transparent;
        -webkit-text-decoration-skip: objects;
        font-family: Pacifista;
        text-decoration: none;
        color: black;
    }

    /*.footnotes a {*/
    /*    visibility: hidden;*/
    /*}*/
    /*.footnotes a:after {*/
    /*    content: '→';*/
    /*    visibility: visible;*/
    /*}*/
    blockquote {
        font-family: Pacifista-Italic;


    }
}


/*!* BLANK PAGES -------------------------------- *!*/

@page :blank {
    @bottom-left {
        content: none;
    }
    @bottom-center {
        content: none;
    }
    @bottom-right {
        content: none;
    }
}


/*    !* Cover -------------------------------- *!*/

@page :first {
    margin: 10mm 10mm;
    background-color: black;
    @bottom-right {
        content: none;
    }


}

/*    #cover {*/
/*        break-after: right;*/
/*        font-family: 'Pacifista';*/
/*    }*/

/*    #cover img{*/
/*        mix-blend-mode: lighten;*/
/*    }*/


/*    !* SECTION BREAKS -------------------------------- *!*/

/*    .chapter {*/
/*        break-before: right;*/
/*    }*/


/*    !* CONTENT --------------------------------------- *!*/

/*    figure, img{*/
/*        width: 100%;*/
/*    }*/


/*}*/


